.navbar{
  background-color: #464646;
  max-height: 90px;
  position: relative;
  -webkit-box-shadow: 2px -1px 18px -1px rgba(0,0,0,0.69);
  -moz-box-shadow: 2px -1px 18px -1px rgba(0,0,0,0.69);
  box-shadow: 2px -1px 18px -1px rgba(0,0,0,0.69);
}

.logo {
  max-width:100px;
  margin-top: -25px;
}

.container-search{
  background-color:white;
  position: absolute;
  display: flex;
  width: 40%;
  height:40px;
  margin-top:5px;
  margin-left: 30%;
}


.input[type=text] {
  width: 100%;
  height:100%;
  border: none;
  font-size: 12pt;
  padding-left: 10px;
  border-radius: 1.2px;
  alignment: center;
}

