<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img class = "logo" src="/assets/images/marvel-logo.png"  alt="">
    </a>
  </div>

  <div class = "container-search">
    <input ng-model="vm.name" class = "input" id="search" type="text" placeholder="Search" >
    <span ng-click="vm.buscar()"><img src="/assets/images/search.png"/></span>
  </div>
</nav>

