<div class = "">
  <acme-navbar></acme-navbar>
</div>

<div class="container-fluid">
  <div class = "row">
    <div class = "col-md-10">
      <div class = "order">
        <div class = "characters">
          <img src="/assets/images/characters.png">
        </div>
        <div class = "characters">
          <h4>Characters</h4>
        </div>
        <div id = "dropdown" class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            Sort by <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">{{vm.resultado.offset}}</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="cards">
        <div class="card" href="#"  ng-repeat="personaje in vm.mainService.resultado.results">
          <div class="row">
            <div class = "col-md-6">
              <img src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}" class="avatar" alt="Avatar">
            </div>
            <div class = "col-md-6">
              <h4 class="card-title">{{personaje.name}}</h4>
              <p class = description>
                {{personaje.description}}
              </p>
              <button type="button" class="btn button-red">VIEW MORE</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class = "related-comics" align="left" >Related comics</h5>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-6" ng-repeat="comic in personaje.comics.items">
              <a href = "#" ng-if="$index < 4" ng-click="vm.openModal(comic)"><p class = "comics-item">{{comic.name}}</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = "col-md-2">

      <div class = "icon-favourites">
        <img src = "/assets/images/btn-favourites-primary.png"> My Favourites
      </div>


      <div class = "div-favoritos" ng-repeat = "favorito in vm.mainService.favoritos track by favorito.id">
        <a href = "#"  class = "delete-favorite" type="button" ng-click="vm.deleteFavorito($index)"><span aria-hidden="true"><img src="/assets/images/btn-delete.png"></span></a>
        <img  id="img-favorito" src="{{favorito.images[0].path}}.{{favorito.images[0].extension}}">
      </div>
    </div>
  </div>

</div>
