section {
  float: left;
  width: 80%;
  height: 100%;
  background-color:#F0F1F2;
}

aside {
  float: right;
  width: 20%;
  height: 100%;
  background-color:#E5E8EC;
  padding: 1em;
}

.group section{
  padding: 1em;
}

.group{
  position: absolute;
  width: 100%;
  height: auto;
}



/************************* Cards *************************/

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 80px;
}


.card {
  flex: 0 0 45%;
  margin: 25px;
  border: 0px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 0;
}

.card img {
  max-width: 100%;
}

.card .text {
  padding: 0 20px 20px;
}

.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

.card-title {
  margin-top: -15px;
  font-weight: bold;
}

.description {
  color: #848484;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  width: 300px;
  height: 230px;
  margin-top: -20px;
  margin-left: -15px;
}

.related-comics {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  color: #848484;
}

.button-red {
  background-color: red;
  border-radius: 0px;
  color: white;
  font-weight: bold;
}


.comics-item {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #848484;
  -webkit-line-clamp: 2;
}

.order {
  margin-right: 25px;
  margin-left: 25px;
}

#dropdown {
  float: right;
  background-color: white;
}


.btn-dropdown {
  border-radius: 0;
  background-color: white;
  color: #848484;
  align-content: left;
}

.characters {
  float: left;
}

.characters h4 {
  margin-top: 10px;
  vertical-align: bottom;
  font-weight: bold;
}



/**** Modal ***/
.modal-content{
  border-radius: 0px;
}


.thumbail-comic{
  width: 100%;
}


.modal-header{
  border-bottom:0px;
  height: 15px;
}

.modal-body{
  margin-top: 5px;
}

.modal-footer{
  border-top: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
}

#information{
  margin-top: 0px;
  padding: 0px;
}

#derecho{
  padding-left: 0px;
}

#izquierdo{
  padding-right: 0px;
}


.izquierdo{
  background-color: #4D403D;
  height: 50px;
  margin: 0px;
}

.derecho{
  margin: 0px;
  background-color: #ECECEC;
  height: 50px;
}

.link{
  color:red;
  font-weight: bold;
  vertical-align:center;
}

a spam img{
  margin-top: 5px;
}

.link:hover {
  color: red;
}

#img-favorito{
  width: 150px;
}

.div-favoritos{
  margin-bottom: 30px;
}

.icon-favourites{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
}

.delete-favorite{
  position: relative;
  float: right;
  right: 30px;
  bottom: 20px;
}