<div class="source-list-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.closeModal()"><span aria-hidden="true"><img src="/assets/images/btn-close.png"></span></button>
  </div>
  <div class="modal-body">
    <div class = "row">
      <div class = "col-md-5">
        <img class = "thumbail-comic" src="{{vm.data.images[0].path}}.{{vm.data.images[0].extension}}">
      </div>
      <div class = "col-md-7">
        <h3 id = "information">{{vm.data.title}}</h3>
        <p>{{vm.data.description}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="botonera" class = "row">
      <div id = "izquierdo" class = "col-md-6">
        <div class = "izquierdo">
          <a class = "link" href = "#" ng-click="vm.addFavorite(vm.data)"><spam><img src = "/assets/images/btn-favourites-primary.png"></spam> ADD TO FAVOURITES</a>
        </div>
      </div>
      <div id="derecho" class = "col-md-6">
        <div class = "derecho">
          <a class = "link" href = "#"><spam><img src = "/assets/images/shopping-cart-primary.png"></spam> BUY FOR ${{vm.data.prices[0].price}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
